<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <meta charset = "utf-8" />
        <link rel = "icon" href ="logo.jpg" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="About.css">
        <link rel = "stylesheet" href ="footer.css">
    </head>
    <body>
        <div class="about-section">
            <div class="logo">
                <img src="logo-main.jpg">
            </div>
                <h1>About Us</h1>
                <p>We here are the Team Dietta.</p>
                <p>We have done this website for the users for free and it's not for Commercial</p>
        </div>
        <h2 style="text-align:center">Our Team</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="profile.jpg" alt="Jane" style="width:100%">
                    <div class="container">
                        <h2>Vishnuvardhan B</h2>
                        <p class="title">Web Designer</p>
                        <p>Front-end development like Html,Css,Javascript</p>
                        <p>vishnuvardhan.b@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="profile.jpg" alt="Mike" style="width:100%">
                    <div class="container">
                        <h2>Ragul</h2>
                        <p class="title">Web Designer</p>
                        <p>Back-end development like Python,Django</p>
                        <p>raghul@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
  
            <div class="column">
                <div class="card">
                    <img src="profile.jpg" alt="John" style="width:100%">
                    <div class="container">
                        <h2>Mohammed Fadil S</h2>
                        <p class="title">Web Designer</p>
                        <p>Front-end development like Html,Css,Javascript</p>
                        <p>mohammedfadil.s@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="profile.jpg" alt="John" style="width:100%">
                    <div class="container">
                        <h2>Rithickraj H</h2>
                        <p class="title">Web Designer</p>
                        <p>Front-end development like Html,Css,Javascript</p>
                        <p>rithickraj.h@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class=footer-1>
                    <a class="termsandcondition" href="Dietta.html">Home</a><br/>
                    <a class="termsandcondition" href="forms.html">Menu</a><br/>
                    <a class="termsandcondition" href="#">About Dietta</a><br/>
                    <a class="termsandcondition" href="contact.html">Contact Us</a><br/>
                    <a class="termsandcondition" href="login-or-sign-up.html">Login/Sign-up</a><br/>
                    <a class="termsandcondition" href="termsAndConditions.html">Privacy Policy</a>
                    <p style="color:white;">&#169;2021 Dietta.Inc .All rights Reserved.</p>
            </div>
            <div class="footer-1">
                <p style="font-size: 1.3vm;color:white">Connect with Us on</p>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
                <div>
                    <p><a href="termsAndConditions.html" class="termsandcondition">Terms and Conditions</a></p>
                </div>
            </div>
            <div class="footer-1">
                <div class="footer-right">
                    <img src="logo.jpg"/>
                </div>
            </div>
        </div>
    </body>
</html>
