<html>
    <head>
        <title>Contact</title>
        <link rel = "icon" href ="logo.jpg" type = "image/x-icon">
        <link rel="stylesheet" href="contact.css">
        <link rel="stylesheet" href="footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <form class="form">
            <h2>CONTACT US</h2>
            <p type="Name:"><input placeholder="Write your name here.."></input></p>
            <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
            <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
            <button>Send Message</button>
            <div class="contact">
                <span class="fa fa-phone"></span>0000000000
                <span class="fa fa-envelope-o"></span> contact@dietta.com
            </div>
        </form>
        <div class="footer">
            <div class=footer-1>
                    <a class="termsandcondition" href="Dietta.html">Home</a><br/>
                    <a class="termsandcondition" href="forms.html">Menu</a><br/>
                    <a class="termsandcondition" href="About.html">About Dietta</a><br/>
                    <a class="termsandcondition" href="#">Contact Us</a><br/>
                    <a class="termsandcondition" href="login-or-sign-up.html">Login/Sign-up</a><br/>
                    <a class="termsandcondition" href="termsAndConditions.html">Privacy Policy</a>
                    <p style="color:white;">&#169;2021 Dietta.Inc .All rights Reserved.</p>
            </div>
            <div class="footer-1">
                <p style="font-size: 1.3vm;color:white">Connect with Us on</p>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
                <div>
                    <p><a href="termsAndConditions.html" class="termsandcondition">Terms and Conditions</a></p>
                </div>
            </div>
            <div class="footer-1">
                <div class="footer-right">
                    <img src="logo.jpg"/>
                </div>
            </div>
        </div>
    </body>
    </html>