{% load static %}
<html>
    <head>
		<title>Terms and Condtitions</title>
		<meta charset = "utf-8" />
        <link rel = "icon" href ="{% static 'images/logo.jpg' %}" type = "image/x-icon">
		<style>
		fieldset {
        border: none;
        border-top: 1px solid #8ebf42;
		text-align: center;
        }
		body, html{
			background-color: white;
		}
		h1, h2, p{
			color: black;
		}
		</style>
	</head>
	<body>
		<fieldset>
		    <legend>
				<h1 style="font-family:Arial;color:#8ebf42;">Terms and Conditions</h1>
			</legend>
		</fieldset>
		    <p style="font-family:Roboto, Arial, sans-serif;font-size:large;margin: 12px 5px;">Dietta is intended as a weight gain,Weight loss and Normal dietmanagement tool via providing diet plans to assist users in their personal health and fitness goals. 
		    Dietta is a free Applocation to all user whom can't be able to pay for their diet.Dietta is not a medical organization and can not give you a medical advice or diagnosis. Weight loss result may vary from person to person and therefore we cannot 
		    guarantee about your personal result. Your personal rate of loss may vary from any case studies shown on this website. Our service advocates a safe rate of weight 
		    loss of atleast 0.5 kg per week. With our discretion and without prior notice or liability, we may discontinue, modify or alter any aspect of the Service. Our Service 
		    contains information, software, photos, text, graphics, sounds and other materials that are protected by copyrights, database rights, trademarks, trade secrets and/or 
		    other proprietary rights. All content is copyrighted under applicable copyright laws, including copyright laws (and, if applicable, similar laws in other jurisdictions).
		    </p>
		    </br>
		    </br>
			<p style="font-family:Roboto, Arial, sans-serif;font-size:large;margin: 10px 50px">
			1.The Site Does Not Provide Medical Advice.
		    </br>
		    </br>
			2.The use of the Dietta Site and the Content is at your own risk.
		    </br>
		    </br>
			3.The content of our website www.Dietta.com that is the text, graphics, images, information and other material is property of Dietta. If you violate any of these Terms and 
		    Conditions, your permission to use the Content automatically dismisses and you must immediately destroy any copies you have made of any portion of the Content on this website.
			</p>
		    </br>				
		    </br>
			<p style="font-family:Roboto, Arial, sans-serif;font-size:large;margin: 12px 5px;">
			When using the Dietta website, information will be conveyed over a medium that may be beyond the control and jurisdiction of Dietta, and we assume no responsibility for any information lost or corrupted.
            The personal information you submit to Dietta site is governed by the Dietta Privacy Policy. To the extent there is changeability between this Agreement and the Dietta Privacy Policy, this Agreement shall rule. If you choose to subscribe to Dietta newsletter or subscription services, you must be over the age of 18.
			We are committed to keep your personal information personal and private. We will not sell or rent your personal information to anyone
            </p>
		<fieldset>
			<legend>                    
		        <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:#8ebf42;">INFORMATION YOU SUBMIT</h2>
		    </legend>
		</fieldset>
			<p style="font-family:Roboto, Arial, sans-serif;font-size:large;margin: 12px 5;">Dietta Services you use at your own risk and you, along with your doctor or healthcare provider, are personally responsible for validating if its suitability for your needs.
		    </p>
		<fieldset>
			<legend>                 
		         <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:#8ebf42;">PRIVACY POLICY</h2>
	        </legend>
		</fieldset>
			<p style="font-family:Roboto, Arial, sans-serif;font-size:large;margin: 12px 5;">You are responsible for providing a valid user information at the time you register at Dietta. Dietta will be shows Diet recomenedation based on the Informations you gave. So, Provide an Valid and Real Information of your's at Dietta. When Sign-in with your account so, you represent that you are an authorized user of Dietta from your account.
		    </p>
	</body>
</html>